In [50]:
class Animal():
    def __init__(self, genus, gender = "Female"):
        self.isAlive = True
        self.gender = gender
        self.genus = genus

    def breed(self, partner):
        if self.gender == "Female" and partner.gender == "Male" and self.genus == partner.genus:
            new = Animal(genus = self.genus)
        try:
            new.gender
            return new
        except UnboundLocalError:
            print('attribute not found')

In [51]:
class Dog(Animal):
    def woof(self):
        return "woof woof"
    
class Cat(Animal):
    def purr(self):
        return "purr"

In [53]:
d = Dog(genus = 'a', gender= 'Female')
c = Cat(genus = 'b')
c2 = Cat(genus = 'b', gender='Male')

new = c.breed(c2)

In [54]:
new.genus

'b'

In [5]:
from datetime import datetime

class Worker():
    def __init__(self, number, name, age, salary):
        self.number = number
        self.age = datetime.now().year - age
        self.salary = salary
        self.name = name
    
w1 = Worker(1, 'Adam', 1983, 1500)
w2 = Worker(2, 'Anna', 1981, 1700)
w3 = Worker(3, 'Błazej', 1990, 1800)
w4 = Worker(4, 'Beata', 1992, 1600)
w5 = Worker(5, 'Czesław', 1980, 2000)
w6 = Worker(6, 'Cecylia', 1983, 2100)
w7 = Worker(7, 'Daniel', 1976, 1900)

workers = [w1,w2,w3,w4,w5,w6,w7]

In [6]:
def meanSalary(workers):
    sum = 0
    for  w in workers:
        sum += w.salary
    return sum/len(workers)

meanSalary(workers)

1800.0

In [15]:
def compareOldSalariesWithYoung(workers):
    sum_old = 0
    sum_young = 0
    count_young = 0
    count_old = 0
    for w in workers:
        if w.age < 31:
            sum_young += w.salary
            count_young += 1
        else:
            sum_old += w.salary
            count_old += 1
    mean_young = sum_young/count_young
    mean_old = sum_old/count_old
    difference = mean_young/mean_old
    print('Średnia pensja młodszych niz 30 lat to: {:.3f}'.format(mean_young) + '\nŚrednia pensja starszych to: {:.3f}'.format(mean_old))
    print('Średnia pensja młodyszych to {:1.3f}'.format(difference) + ' pensji starszych')

compareOldSalariesWithYoung(workers)

Średnia pensja młodszych niz 30 lat to: 1600.000
Średnia pensja starszych to: 1833.333
Średnia pensja młodyszych to 0.873 pensji starszych

Musiałem zmienić wiek na 31, poniewaz nie ma nikogo młodszego niz 30 lat